
* { font-family: 'Roboto', sans-serif; }

body {
    margin: 0 auto 0 auto;
    padding: 0;
    max-width: 767,98px;
}

h1, h2, h3 { font-size: 24px } 

/* Variables couleurs */

$main-color: #9356DC;
$second-main-color: #FF79DA;
$third-main-color: #99E2D0;

$main-background-color: #F3F3F3;
$second-background-color: #EAEAEA;
$third-background-color: #353535;


/***** Header *****/

/*Mixin*/
@mixin center-elements {
    display: flex;
    justify-content: center;
    align-items: center;} 
/**/


.site-title {  
    @include center-elements();
    padding: 15px;
    
    .img {
        width: 162px;
        height: 44px;
    }
}

.restau-location {
    @include center-elements();
    font-size: 16px;
    background-color: $second-background-color;
}

.restau-location i {
    padding: 10px;
}


/***** Intro *****/

/*Mixin*/
@mixin intro-element-position {
    display: flex;
    flex-direction: column;
    align-items: center;}

@mixin button {
    width: 218px;
    height: 50px;
    font-size: 16px;
    color: white;
    border-radius: 30px;
    background: linear-gradient($second-main-color, $main-color)}
/**/

.intro {
    @include intro-element-position();
    background-color: $main-background-color;
    padding: 15px 0 20px 0;
    
    .button {
        @include button;
        @include center-elements();
    }
    
    a {
        color: white;
        text-decoration: none;
    }
}

/***** Section Fonctionnement *****/

.section {
        @include center-elements();
    
    .number {
        color: white;
        background-color: $main-color;
        position: relative;
        right: -30px;
        padding: 7px;
        border-radius: 50%;
    }
    
    .card {
        @include center-elements();
        flex: 1;
        padding: 10px 20px 10px 20px;
        background-color: $main-background-color;
        border-radius: 15px;
        margin: 15px;

        p {padding-left: 10px;}
    }
}

/***** Section Restaurants *****/

.restaurants {
    background-color: $main-background-color;
    padding: 10px;

    .card {
        height: 251px;
        border-radius: 15px;
        background-color: white;
        object-fit: cover;
        margin: 15px;
    }
    
    img {height: 75%;}

    .card-content {
        display: flex;
        justify-content: space-between;}  
        
    .card-txt {text-decoration: none;}
}


/***** Footer *****/

.footer {
    color: white;
    background-color: $third-background-color;
}


