
/*** Style des boutons ***/
.button {
    border-radius: 30px;
    background: linear-gradient($second-main-color, $main-color);
    box-shadow: $box-shadow;   
    &:hover {
        @include hover-button;
    }  
}

/*** Style du contenu des boutons***/
.btn {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    padding: 15px 25px ;
}

/*** Le padding horizontal des boutons 'commander'
est plus large***/
.btn-padding {
    padding: 15px 35px;
}