
/*** Icone favoris ***/

.favorite {
    padding: 0 30px 25px 0;
    
    & i {
        position: absolute;
        font-size: 22px;
    }
    
    &--full {
        background: linear-gradient($main-color,$second-main-color);
        color: transparent;
        background-clip: text;
        opacity: 0;
        transition: opacity 500ms ease;
            
        &:hover {
            background-image: linear-gradient($main-color,$second-main-color);
            color: transparent;
            display: inline;
            background-clip: text;
            opacity: 1;
        }
    } 
}