
/* Variables couleurs primaires*/

$main-color: #9356DC;
$second-main-color: #FF79DA;
$third-main-color: #99E2D0;

/* Variables couleurs de fond*/

$main-background-color: #F3F3F3;
$second-background-color: #EAEAEA;
$third-background-color: #353535;


/* Ombres des boutons et cards*/

$box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.2);
$hover-shadow: 1px 9px 9px rgba(0, 0, 0, 0.2);

