
/**** Header ****/


/*** Logo ***/
.logo {
    @extend %flex-center;
    height: 63px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);

     i  {font-size: 18px;
        position: relative;
        right: 70px;}

    img {height: 44px;
         width: 162px;}
}


/*** Emplacement du restaurant: en champ de saisie ***/
.restau-location {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    @extend %flex-center;
    height: 50px;
    background-color: $second-background-color;

        .location-input {
            width: 120px;
            font-size: 15px;
            font-weight: 500;
             background-color: $second-background-color;
             padding-left: 10px;
             border: none;}
    }
