 
 /****** Pages menu du site *******/


.menu-image {
    & > img {
        width: 100%;
        height: 275px;
        object-fit: cover;}
}

.main {
    background-color: $main-background-color;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    top: -55px;
    margin-bottom: -55px;
}

/***** Nom du restaurant *****/
/* Le coeur est dans /components/_icones */
.restau-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 20px 0 15px;
}


  /***** Menus ******/
section {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    .section-title {
        margin-left: 15px;
        width: 45px;
        border-bottom: 3px $third-main-color solid;
    }
}

.menu-card {
    background-color: white;
    font-weight: 500;
    border-radius: 15px;
    margin: 10px 10px 0 10px;
    box-shadow: $box-shadow;
    display: flex;

    &-txt {
        overflow: hidden;
        white-space: nowrap;
        flex: 1;
        padding: 10px;

        .font-heavy-para {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 2px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p {
            overflow: hidden;
            text-overflow: ellipsis;       
        }   
}       
    
    .price {
        width: 40px;
        font-size: 15px;
        font-weight: 500;
        padding: 40px 0 5px 5px;
        
    }
}

 /******* Bouton pour commander ********/

.order-section {
    @extend %flex-center;
    padding: 10px 0 25px;

    .button {
        @extend %flex-center;
        &:hover {
            @include hover-button;
            }  
        a { color: white; }
    }  
}