@import "utils/_variables.scss";
@import "utils/placeholders.scss";
@import "utils/_mixins.scss";
@import "components/_buttons.scss";
@import "components/_icones-favoris.scss";
@import "base/_base.scss";
@import "layouts/_header.scss";
@import "layouts/_footer.scss";
@import "layouts/_pagesRestaurants.scss";
@import "components/_animations.scss";
@import "responsive/_desktop.scss";
@import "responsive/_tablet.scss";



/***** Intro *****/

.intro {
    @extend %flex-center-column;
    background-color: $main-background-color;
    padding: 0 25px 50px 25px;
    text-align: center;

    &--para { padding: 15px 0 20px 0;
       font-size: 18px; }

    a { box-shadow: $box-shadow; }
}

/***** Section Fonctionnement *****/

.fonctionnement {
    margin-top: 15px;
    margin-bottom: 50px;
    background-color: white;

     .section {
            @extend %flex-center;

        .number {
            @extend %flex-center;
            height: 24px;
            width: 24px;
            color: white;
            border-radius: 50%; 
            background-color: $main-color;
            position: absolute;
            left: -10px;
        }

        .box {
            @extend %flex-center;
            padding: 10px 20px;
            background-color: $main-background-color;
            border-radius: 20px;
            margin: 15px 20px 15px 25px;
            box-shadow: $box-shadow;
            position: relative;

            &--content {
                @extend %flex-center;
                position: relative;
            }

            i {color: grey;}

            p {
            padding: 10px 0 10px 10px;
            font-size: 14px;
            font-weight: 500;
            }
        }
    }
}

/***** Section Restaurants *****/

.restaurants {
    background-color: $main-background-color;
    padding-top: 30px;
    padding-bottom: 40px;

    &--cards {
    @extend %flex-center;
    }
}

.card {
    border-radius: 15px;
    background-color: white;
    margin: 15px;
    position: relative;  

    & > img {
        height: 230px;
        width: 100%;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }
    &--content {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        padding: 7px 20px 7px 20px;
        
        & + .new {
        background-color: $third-main-color;
        @extend %flex-center;
        border-radius: 2px;
        color: #008766;
        padding: 7px 12px;
        position: absolute;
        top: 15px;
        right: 15px;
        } 
    }   
}