@import "utils/_variables.scss";
@import "utils/placeholders.scss";
@import "utils/_mixins.scss";
@import "utils/_functions.scss";
@import "components/_buttons.scss";
@import "base/_base.scss";
@import "layouts/_header.scss";
@import "layouts/_footer.scss";



/***** Intro *****/

.intro {
    @extend %flex-center-column;
    background-color: $main-background-color;
    padding: 15px 25px 50px 25px;
    text-align: center;

    p {margin-bottom: 25px;}

    .button {
        @include button;
        @extend %flex-center;
        box-shadow: $box-shadow;
        
        a {
            color: white;
            text-decoration: none;
        }
    }

}

/***** Section Fonctionnement *****/

.fonctionnement {
    margin-bottom: 40px;

    h2 {margin: 40px 0px 10px 15px}

    .section {
            @extend %flex-center;

        .number {
            @extend %flex-center;
            height: 24px;
            width: 24px;
            color: white;
            background-color: $main-color;
            position: relative;
            right: -25px;
            border-radius: 50%;
        }

        .box {
            @extend %flex-center;
            flex: 1;
            font-weight: 500;
            padding: 10px 20px 10px 20px;
            background-color: $main-background-color;
            border-radius: 20px;
            position: relative;
            left: -5px;
            margin: 15px;
            box-shadow: $box-shadow;

            i {color: grey;}

            p {padding-left: 10px;}
        }
    }
}

/***** Section Restaurants *****/

.restaurants {
    background-color: $main-background-color;
    padding: 10px;
    
    h3 {margin-left: 15px;}
}

.restaurants-cards {
    @extend %flex-center;
}

.new {
    background-color: $third-main-color;
    @extend %flex-center;
    border-radius: 2px;
    color: #008766;
    height: 29px;
    width: 80px;
    position: relative;
    left: 250px;
    top: 50px;
}    

.card {
    height: 251px;
    border-radius: 15px;
    background-color: white;
    margin: 15px;   
    
    img {
        height: 75%;
        width: 100%;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }

    .card-content {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        margin: 5px 10px 5px 7px;
    }

    h4, p {
        padding: 2px;
    }
    
    i {
        font-size: 20px;
    }
}
