@import "utils/_variables.scss";
@import "utils/placeholders.scss";
@import "utils/_mixins.scss";
@import "utils/_functions.scss";
@import "components/_buttons.scss";
@import "base/_base.scss";
@import "layouts/_header.scss";
@import "layouts/_footer.scss";
@import "layouts/_pagesRestaurants.scss";



/***** Intro *****/

.intro {
    @extend %flex-center-column;
    background-color: $main-background-color;
    padding: 0 25px 50px 25px;
    text-align: center;

    p {padding: 15px 0 20px 0;
       font-size: 18px}

    .button {
        @include button;
        @extend %flex-center;
        box-shadow: $box-shadow;
        
        & > a {
            color: white;
            text-decoration: none;
        }
    }
}

/***** Section Fonctionnement *****/

.fonctionnement {
    margin-top: 15px;
    margin-bottom: 50px;
    background-color: white;

    .section {
            @extend %flex-center;

        .number {
            @extend %flex-center;
            height: 24px;
            width: 24px;
            color: white;
            background-color: $main-color;
            position: absolute;
            left: 14px;
            border-radius: 50%;
        }

        .box {
            @extend %flex-center;
            flex: 1;
            font-weight: 500;
            padding: 10px 20px 10px 20px;
            background-color: $main-background-color;
            border-radius: 20px;
            margin: 15px 20px 15px 25px;
            box-shadow: $box-shadow;

            i {color: grey;}

            p {padding: 10px 0 10px 10px;
            font-size: 14px;
            font-weight: 500;
            }
        }
    }
}

/***** Section Restaurants *****/

.restaurants {
    background-color: $main-background-color;
    padding: 10px 10px 40px 10px;
}

.restaurants-cards {
    @extend %flex-center;
}

.new {
    background-color: $third-main-color;
    @extend %flex-center;
    border-radius: 2px;
    color: #008766;
    height: 29px;
    width: 80px;
    position: absolute;
    top: 10px;
    left: 230px;
}    

.card {
    height: 251px;
    border-radius: 15px;
    background-color: white;
    margin: 15px;
    position: relative;   
    img {
        height: 75%;
        width: 100%;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }

    .card-content {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        padding: 7px 20px 7px 20px;

        
        .fa-solid.fa-heart  {
            background: linear-gradient($main-color,$second-main-color)
        }

        .fa-regular.fa-heart:active {
            display: none;
        }
    }       
}



    p {
        font-size: 15px;
        font-weight: 300;
        padding: 2px 0 2px;}
    
    /*Pareil ici, je me répéte; j'ai dû le
    ré-écrire ici (prcqu'il est trop imbriqué
    dans _pagesRestaurant???)*/
    .font-heavy-para {
        font-size: 18px;
        font-weight: 500;}     
    
    i {font-size: 20px;}


input[type=checkbox] {
    display: none;
}

input:checked + label {
    
}