@charset "UTF-8";
/* Variables couleurs primaires*/
/* Variables couleurs de fond*/
/* Ombres des boutons et cards*/
/*Centrer les éléments*/
.card--content + .new, .restaurants--cards, .fonctionnement .box--content, .fonctionnement .box, .fonctionnement .number, .order-section .button, .order-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Centrer en colonne*/
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*** Style des boutons ***/
.button {
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.2);
}

/*** Style du contenu des boutons***/
.btn {
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  padding: 15px 25px;
}

/*** Le padding horizontal des boutons 'commander'
est plus large***/
.btn-padding {
  padding: 15px 35px;
}

/*** Icone favoris ***/
.favorite {
  cursor: pointer;
  padding: 0 30px 25px 0;
}
.favorite i {
  position: absolute;
  font-size: 22px;
}
.favorite--full {
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.favorite--full:hover, .favorite--full:active {
  opacity: 1;
  background-image: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  display: inline;
  -webkit-background-clip: text;
          background-clip: text;
}

/*** Général ***/
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto 0 auto;
  padding: 0;
  max-width: 767, 98px;
}

/*** Titres, texte, liens, icones ***/
p {
  margin: 0;
}

p {
  font-size: 15px;
  font-weight: 300;
  padding: 2px 0 2px;
}

h1, h2 {
  font-size: 24px;
  padding: 30px 20px 10px 20px;
  margin: 0;
}

h3 {
  font-size: 24px;
  padding: 10px 20px;
  margin: 0;
}

h4 {
  font-family: "shrikhand";
  font-size: 28px;
}

h5 {
  margin: 0;
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

i {
  font-size: 16px;
}

/*** les premières lignes de toutes les cards ont une police diférente ****/
.font-heavy-para {
  font-size: 18px;
  font-weight: 500;
}

/**** Je donne un z-index différent au logo, emplacement et main pour afficher l'effet 
 d'ombre des deux premiers sur la page d'acceuil ****/
.z-index-logo {
  position: relative;
  z-index: 3;
}

.z-index-location {
  position: relative;
  z-index: 2;
}

.z-index-main {
  position: relative;
  z-index: 1;
}

/**** Header ****/
/*** Logo ***/
.logo {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}
.logo i {
  font-size: 18px;
  padding-left: 20px;
}
.logo--title {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-right: 20px;
}
.logo--title img {
  padding: 15px 0;
  height: 44px;
  width: 162px;
}

/*** Emplacement du restaurant: en champ de saisie ***/
.restau-location {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #EAEAEA;
}
.restau-location .location-input {
  width: 120px;
  font-size: 15px;
  font-weight: 500;
  background-color: #EAEAEA;
  padding-left: 10px;
  border: none;
}

/***** Footer *****/
footer {
  background-color: #353535;
  color: white;
  padding: 10px 0px 20px 20px;
}
footer .logo-txt {
  font-family: "shrikhand";
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
}
footer .icon-txt {
  display: flex;
  align-items: center;
}
footer .icon-txt i {
  padding: 0 10px 10px 0;
}
footer .icon-txt p {
  padding-bottom: 10px;
}
footer p {
  padding-bottom: 5px;
}
footer a {
  color: white;
}

/****** Page 1 du site *******/
.menu-image > img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  background-color: #F3F3F3;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  top: -55px;
  margin-bottom: -55px;
}

/***** Nom du restaurant *****/
/* Le coeur est dans /components/_icones */
.restau-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 20px 0 15px;
}

/***** Menus ******/
section {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
section .section-title {
  margin-left: 15px;
  width: 45px;
  border-bottom: 3px #99E2D0 solid;
}

.menu-card {
  background-color: white;
  font-weight: 500;
  border-radius: 15px;
  margin: 10px 10px 0 10px;
  box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.2);
  display: flex;
}
.menu-card-txt {
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
  padding: 10px;
}
.menu-card-txt .font-heavy-para {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 2px;
}
.menu-card-txt p {
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}
.menu-card .price {
  width: 40px;
  font-size: 15px;
  font-weight: 500;
  padding: 40px 0 5px 5px;
}

/******* Bouton pour commander ********/
.order-section {
  padding: 10px 0 25px;
}
.order-section .button:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  filter: brightness(108%);
  box-shadow: 1px 9px 9px rgba(0, 0, 0, 0.2);
}
.order-section .button a {
  color: white;
}

/*** Animations checked menus *****/
.check {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transform-origin: right;
}
.check .fa-regular.fa-circle-check {
  font-size: 25px;
  background-color: white;
  color: #99E2D0;
  -webkit-clip-path: circle(40%);
          clip-path: circle(40%);
}

.menu-card:hover + .check {
  animation: checked 200ms both;
}

.menu-card:not(:hover) + .check {
  display: none;
}

/*** Apparition progressive des cartes menu***/
@keyframes slide-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-in-2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-in-3 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation-entrées {
  animation: slide-in 400ms;
}

.animation-plats {
  animation: slide-in-2 800ms;
}

.animation-desserts {
  animation: slide-in-3 1.2s;
}

/******** loader ********/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #353535;
  z-index: 4;
  animation: load 3s forwards;
}
.loader--title {
  font-family: "shrikhand";
  font-size: 34px;
  color: #EAEAEA;
}

.loader::before {
  position: absolute;
  content: "";
  width: 270px;
  height: 270px;
  border: 8px solid #353535;
  border-left-color: #9356DC;
  border-radius: 50%;
  animation: loading 2.7s 300ms ease;
}

.loader::after {
  position: absolute;
  content: "";
  width: 240px;
  height: 240px;
  border: 8px solid #353535;
  border-top-color: #EAEAEA;
  border-radius: 50%;
  animation: loading 3s ease;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(3turn);
  }
}
@keyframes load {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  95% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@media screen and (min-width: 767.8px) {
  /********* Page d'acceuil ********/
  h1 {
    font-weight: 700;
    font-size: 40px;
  }
  /**** Fonctionnement ****/
  .fonctionnement {
    padding: 0 300px;
  }
  .fonctionnement .boxes-direction {
    display: flex;
  }
  /**** Restaurants ****/
  .restaurants {
    padding-right: 300px;
    padding-left: 300px;
  }
  .restaurant--cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .restaurant--cards > a {
    width: 47%;
  }
  /**** Footer ****/
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 35px 15px 5px 0;
  }
  footer .footer-title {
    padding: 0 50px;
  }
  footer .footer-txt {
    display: flex;
  }
  footer .footer-txt .icon-txt {
    padding-right: 15px;
  }
  footer .footer-txt p, footer .footer-txt a {
    padding-right: 7px;
  }
  /********* Pages des menus *******/
  .menu-image > img {
    height: 380px;
  }
  .main {
    margin: 0 210px;
    position: relative;
    top: -55px;
    margin-bottom: -55px;
  }
  .restau-title {
    display: flex;
    justify-content: center;
  }
  .restau-title .favorite {
    padding: 0 0 20px 25px;
  }
  section {
    padding: 0 210px 40px 210px;
  }
  /**** Loader animation dimensions****/
  .loader::before {
    width: 390px;
    height: 390px;
  }
  .loader::after {
    width: 350px;
    height: 350px;
  }
}
/***** Intro *****/
.intro {
  background-color: #F3F3F3;
  padding: 0 25px 50px 25px;
  text-align: center;
}
.intro--para {
  padding: 15px 0 20px 0;
  font-size: 18px;
}
.intro a {
  box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.2);
}

/***** Section Fonctionnement *****/
.fonctionnement {
  margin-top: 15px;
  margin-bottom: 50px;
  background-color: white;
}
.fonctionnement .number {
  height: 24px;
  width: 24px;
  color: white;
  border-radius: 50%;
  background-color: #9356DC;
  position: absolute;
  left: -10px;
}
.fonctionnement .box {
  padding: 10px 20px;
  background-color: #F3F3F3;
  border-radius: 20px;
  margin: 15px 20px 15px 25px;
  box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  flex: 1;
}
.fonctionnement .box--content {
  position: relative;
}
.fonctionnement .box i {
  color: grey;
}
.fonctionnement .box p {
  padding: 10px 0 10px 10px;
  font-size: 14px;
  font-weight: 500;
}

/***** Section Restaurants *****/
.restaurants {
  background-color: #F3F3F3;
  padding-top: 30px;
  padding-bottom: 40px;
}
.card {
  border-radius: 15px;
  background-color: white;
  margin: 15px;
  position: relative;
}
.card > img {
  height: 230px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.card--content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 20px 7px 20px;
}
.card--content + .new {
  background-color: #99E2D0;
  border-radius: 2px;
  color: #008766;
  padding: 7px 12px;
  position: absolute;
  top: 15px;
  right: 15px;
}/*# sourceMappingURL=style.css.map */